extends layout

block content
  h1.pageTitle Wonderful Message Board
  
  dl.messages
    each message in displayMessages
      div.messageContainer
        p.messageTitle #{message.title}
          dt #{message.text}
        div.messageBottomBanner
          if user
            dd Posted by #{message.user} on #{message.timestampFormatted}
            if user.accesslevel >= 5000
              dd
                form(method='POST' action=`/${message._id}/deleteMessage`)
                  input(type='hidden' value=message._id name='messageId')
                  button.messageDeleteButton Delete
          else
            dd Posted on #{message.timestampFormatted}